extends ./layout.jade

block header
  h1= title
block content
  h2 Welcome to Chronicle
  .buttons
    button Sign in
    button Write
    button Sign up
block footer 
  p Thanks for taking a look at our service. We hope you'll come back
